.navbar {
  padding: 1rem;
  background-color: #1a1615;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  font-weight: bold;
  height: 100px;
}
.navbar .navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-collapse li {
  padding-right: 5px;
  padding-left: 5px;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
footer {
  min-height: 100px;
}
footer .iconos-redes-sociales .a-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 20px;
  margin-bottom: 3px;
  border: 2px solid #f2efdb;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
footer .derechos-de-autor {
  font-size: 15px;
  color: #f2efdb;
  padding: 20px;
}

.hero {
  min-height: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4274509804), rgba(0, 0, 0, 0.4588235294)), url(../assets/img/bienvenidos/fotoHome.png);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero .hero-principal {
  padding: 3rem;
}
.hero .hero-principal .hero-principal-h1 {
  color: #FDA47E;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FDA47E;
  color: #3D3737;
  margin: 0px;
  padding: 40px;
}

.testimonios {
  padding: 10px;
  height: 550px;
}
.testimonios .carousel {
  max-width: 80%;
}
.testimonios .carousel .carousel-inner {
  height: 300px;
}
.testimonios .carousel .carousel-inner .carousel-item {
  height: 100px;
}
.testimonios .carousel .carousel-inner .carousel-item .container {
  background-color: #F2EFDB;
  width: 100%;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.testimonios .carousel .carousel-inner .carousel-item .container .testimonio-imagen {
  width: 155px;
  height: 235px;
  margin: 50px 10px 50px 10px;
}
.testimonios .carousel .carousel-inner .carousel-item .container .testimonio-texto {
  max-width: 50%;
  font-size: 17px;
  text-align: center;
  margin-left: 30px;
}
.testimonios .carousel .carousel-inner .carousel-item .container p {
  background-color: #F2EFDB;
  color: #1a1615;
  padding: 15px;
}
.testimonios .carousel .carousel-inner .carousel-item .container .cliente {
  background-color: #1a1615;
  color: #FDA47E;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container .testimonios-carrusel {
    height: 900px;
  }
  .container .testimonio-imagen {
    height: 60%;
    width: 10%;
  }
  .container .testimonio-texto {
    font-size: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
}

.sobre-mi {
  height: 750px;
}
.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}
.sobre-mi .contenedor .sobre-mi-imagen {
  border-radius: 5%;
  margin: 20px;
}
.sobre-mi .contenedor .seccion-text {
  padding: 20px;
}
.sobre-mi h2 {
  background-color: #FDA47E;
  color: #3D3737;
  margin: 0px 0px 30px 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.servicios {
  padding: 40px;
}
.servicios .row .columna {
  height: 600px;
  border: 15px;
}
.servicios .row .columna .servicios-titulo {
  margin: 20px 0;
}

.portfolio {
  padding: 40px;
}
.portfolio .portfolio-fotos .img {
  height: 100%;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: block;
}

.img:hover {
  border: 4px solid #FDA47E;
}

.contacto {
  padding: 40px;
}
.contacto .row .row-div {
  height: 700px;
}
.contacto .row .row-div .contacto-img {
  width: 80%;
}
.contacto .row .row-div .form-control {
  color: #3D3737;
  font-size: 15px;
  padding: 10px;
  font-family: "Spectral", serif;
  font-weight: bold;
}
.contacto .row .btn-btn-primary {
  color: #e8e8e8;
  background-color: #3D3737;
  border: 2px solid #3D3737;
  padding: 10px;
  border-radius: 5%;
  margin-top: 20px;
  font-family: "Spectral", serif;
  font-size: small;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: #F2EFDB;
  text-decoration: none;
}

h1 {
  font-size: 1.7rem;
  font-family: "Cedarville Cursive", cursive;
  font-family: "Cormorant Garamond", serif;
  font-family: "Spectral", serif;
}

h2 {
  font-size: 1.6rem;
  font-family: "Cedarville Cursive", cursive;
  font-family: "Cormorant Garamond", serif;
  font-family: "Spectral", serif;
}

p {
  font-family: "Cedarville Cursive", cursive;
  font-family: "Spectral", serif;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seccion-clara {
  color: #3D3737;
  background-color: #FDA47E;
}

.seccion-oscura {
  color: #FDA47E;
  background-color: #1a1615;
}

.seccion-footer {
  color: #F2EFDB;
  background-color: #aaa;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Cedarville Cursive", cursive;
  font-family: "Cormorant Garamond", serif;
  font-family: "Spectral", serif;
}

.seccion-text {
  font-size: 1rem;
  font-family: "Cedarville Cursive", cursive;
  font-family: "Spectral", serif;
  margin: 20px;
}

.texto-claro {
  color: #F2EFDB;
}

.texto-oscuro {
  color: #3D3737;
}

.texto-rosa {
  color: #FDA47E;
}

.texto-gris {
  color: #aaa;
}

/*# sourceMappingURL=style.css.map */
