$font-color: #3D3737;
$primary-color: #FDA47E;
$secondary-color: #F2EFDB;
$terciary-color:#aaa;

.contacto{
    padding: 40px;

    .row{

        .row-div{
            height: 700px;

            .contacto-img{
                width: 80%;
                
            }
        }
        .btn-btn-primary{
            color: #e8e8e8;
            background-color: #3D3737;
            border: 2px solid #3D3737;
            padding: 10px;
            border-radius: 5%;
            margin-top: 20px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: small;
        }
        .form-control{
            background-color: #F2EFDB;
        }
    }
}