$font-color: #3D3737;
$primary-color: #FDA47E;
$secondary-color: #F2EFDB;
$terciary-color:#aaa;

.contacto{
    padding: 40px;

    .row{

        .row-div{
            height: 700px;

            .contacto-img{
                width: 80%;
                
            }
        }
    }
}