$font-color: #1a1615;
$font-letra:#3D3737;
$primary-color: #FDA47E;
$secondary-color: #F2EFDB;
$terciary-color:#aaa;

.contacto{
    padding: 40px;

    .row{
        .row-div{
            height: 700px;

            .contacto-img{
                width: 80%;
                
            }
            .form-control{
                color: $font-letra;
                font-size: 15px;
                padding: 10px;
                font-family:'Spectral', serif;
                font-weight: bold;
            }

        }
        .btn-btn-primary{
            color: #e8e8e8;
            background-color: #3D3737;
            border: 2px solid #3D3737;
            padding: 10px;
            border-radius: 5%;
            margin-top: 20px;
            font-family:'Spectral', serif;
            font-size: small;
        }
        
    }
}