$font-color: #3D3737;
$primary-color: #FDA47E;
$secondary-color: #f2efdb;
$terciary-color:#aaa;

footer{
    min-height: 100px;

        .iconos-redes-sociales{
                
                .a-icon{
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2px;
                margin:20px;
                margin-bottom:3px;
                border: 2px solid #f2efdb;
                border-radius: 50%;
                transition: all 0.2s ease-in;
            }
        }
        .derechos-de-autor{
            font-size: 15px;
            color: #f2efdb;
            padding: 20px;

        }
}