$font-color: #1a1615;
$font-letra:#3D3737;
$primary-color: #FDA47E;
$secondary-color: #F2EFDB;
$terciary-color:#aaa;

*{
    margin:0;
    padding:0;
}
.sobre-mi{
    height: 750px;

    .contenedor{
        max-width: 600px;
        text-align: center;

        .sobre-mi-imagen{
            border-radius: 5%;
            margin: 20px;
        }
        .seccion-text{
            padding: 20px;
        }
    }

    h2{
        background-color: $primary-color;
        color: $font-letra;
        margin: 0px 0px 30px 0px;
        padding: 20px;
        display: flex;
        justify-content: center;
        font-size: x-large;
        
    }
}