$font-color: #1a1615;
$font-letra:#3D3737;
$primary-color: #FDA47E;
$secondary-color: #F2EFDB;
$terciary-color:#aaa;
.servicios {
    padding: 40px;

    .row{
        
        .columna{
            height: 600px;
            border:15px;

            .servicios-titulo{
                margin: 20px 0;
            }
        }
    }
}