@use "navbar";
@use "footer";
@use "bienvenidos";
@use "maac";
@use "servicios";
@use "portfolio";
@use "contacto";

$font-color: #1a1615;
$font-letra:#3D3737;
$primary-color: #FDA47E;
$secondary-color: #F2EFDB;
$terciary-color:#aaa;

@mixin reset-pm{
    padding: 0;
    margin: 0;  
}
 
*{
    @include reset-pm;
}

// .body {
//     background-color: $terciary-color;
// }

a{
    color: $secondary-color;
    text-decoration: none;
}

h1 {
    font-size: 1.7rem;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Spectral', serif;
}

h2 {
    font-size: 1.6rem;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Spectral', serif;
}
h3 {
    font-size: 1rem;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Spectral', serif;
}

p{
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Spectral', serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.seccion-clara{
    color:$font-letra;
    background-color: $primary-color;
}

.seccion-oscura {
    color:$primary-color ;
    background-color:$font-color;
}

.seccion-footer {
    color:$secondary-color;
    background-color:$terciary-color ;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Spectral', serif;
}

.seccion-text {
    font-size: 1rem;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Spectral', serif;
    margin: 20px;
}

.texto-claro{
    color: $secondary-color;
}

.texto-oscuro{
    color: $font-letra;
}

.texto-rosa{
    color:$primary-color;
}

.texto-gris{
    color: $terciary-color;
}